<h2 id="motif-generator">Motif Generator</h2>
<pre><code>Andrea Degasperi, M.Sc., Ph.D.
Post Doctoral Researcher
Systems Biology Ireland
Conway Institute
University College Dublin
</code></pre>
<p>Version 1.1</p>
<h3 id="table-of-content">Table of Content</h3>
<div class="toc">
<ul>
<li><a href="#motif-generator">Motif Generator</a><ul>
<li><a href="#table-of-content">Table of Content</a></li>
<li><a href="#how-to-run-this-program">How to run this program:</a></li>
<li><a href="#how-to-write-modules">How to write modules</a><ul>
<li><a href="#species-and-complexes">Species and Complexes</a></li>
<li><a href="#reactions">Reactions</a></li>
<li><a href="#modules">Modules</a></li>
<li><a href="#module-groups">Module groups</a></li>
</ul>
</li>
<li><a href="#strategies-to-combine-modules">Strategies to combine modules</a><ul>
<li><a href="#merge-strategy">MERGE strategy</a></li>
<li><a href="#multimerge-strategy">MULTIMERGE strategy</a></li>
</ul>
</li>
<li><a href="#module-inputouputs">Module Input/Ouputs</a></li>
<li><a href="#initial-concentrations">Initial Concentrations</a></li>
<li><a href="#executing-sbml-models">Executing SBML models</a></li>
<li><a href="#acknowledgements">Acknowledgements:</a></li>
</ul>
</li>
</ul>
</div>
<h3 id="how-to-run-this-program">How to run this program:</h3>
<ol>
<li>write the modules in a text file such as "modules.mg"</li>
<li>
<p>double click on the <code>motifGenerator.jar</code> file or execute</p>
<pre><code>java -jar motifGenerator.jar
</code></pre>
<p>an open file dialog will ask for an input file. If you cancel,
or if the file does not exist the program will quit
3. It is possible to pass the input file as the argument of the
   program, to bypass the open file dialog by running:</p>
<pre><code>java -jar motifGenerator.jar inputfile
</code></pre>
</li>
<li>
<p>the log file <code>results.log</code> contains information on the last program
   execution. Errors are also reported in this file</p>
</li>
<li>motif generated are in the <code>motifs</code> folder either in SBML or
   in the dot format (Graphviz)</li>
</ol>
<h3 id="how-to-write-modules">How to write modules</h3>
<h4 id="species-and-complexes">Species and Complexes</h4>
<p>Proteins/Species are specified by an ID followed by a list of 
properties. Species names and properties can contain numbers, letters and
the character <code>_</code>, and have to begin with a letter. Complexes are lists 
of Species, with no spaces between them:</p>
<ul>
<li>
<p>Examples of proteins:</p>
<pre><code>Raf()
MEK(inactive,kinase)
ppMEK(active,kinase)
MEK(doublephosphorylated, activekinase)
</code></pre>
</li>
<li>
<p>Example of complex:</p>
<pre><code>KSR(inactive,regulator)MEK(inactive,kinase)
</code></pre>
</li>
</ul>
<h4 id="reactions">Reactions</h4>
<p>Four types of reactions can be specified: Enzymatic, Binding,
Unbinding and Conversion.</p>
<ul>
<li>
<p>Example of Enzymatic reaction:</p>
<pre><code>MEK(inactive,kinase) -[ pRaf(active,kinase) ]-&gt; pMEK(inactive,kinase)
</code></pre>
</li>
<li>
<p>Example of Binding reaction:</p>
<pre><code>MEK(inactive,kinase) + KSR(inactive,regulator) -&gt; KSRMEK(inactive,kinase)
</code></pre>
</li>
<li>
<p>Example of Unbinding reaction:</p>
<pre><code>KSRMEK(inactive,kinase) -&gt; MEK(inactive,kinase) + KSR(inactive,regulator)
</code></pre>
</li>
<li>
<p>Example of Conversion reaction:</p>
<pre><code>pRaf(active,kinase) -&gt; Raf(inactive,kinase)
</code></pre>
</li>
</ul>
<h4 id="modules">Modules</h4>
<p>Two or more modules need to be specified by enclosing a list
of reactions between the two keywords <code>module</code> and <code>endmodule</code>:</p>
<ul>
<li>
<p>Example</p>
<pre><code>module
A(ik) -[ KA(ak) ]-&gt; pA(ak)
pA(ak) -[ PA(ap) ]-&gt; A(ik)
endmodule

module
B(ik,ik2) + C(ak,ak2) -&gt; B(ik,ik2)C(ak,ak2)
B(ik,ik2)C(ak,ak2) -&gt; B(ik,ik2) + C(ak,ak2)
endmodule

module
D(ik2) -[ KD(ak) ]-&gt; pD(ak2)
pD(ak2) -[ PD(ap) ]-&gt; D(ik2)
endmodule
</code></pre>
</li>
</ul>
<p>Note that if two modules contain the same protein the program will give
an error.</p>
<p>For example:</p>
<pre><code>    module
    pA(ak) -[ P(ap) ]-&gt; A(ik)
    endmodule

    module
    pB(ak) -[ P(ap) ]-&gt; B(ik)
    endmodule
</code></pre>
<p>In the above example, P(ap) will induce an error</p>
<h4 id="module-groups">Module groups</h4>
<p>If no groups are specified, the program will try to combine all
modules specified by the user. Modules in the same group are
instead mutually exclusive, i.e. only one module per group will
be used. To specify that a module belongs to a certain group, add 
the keyword <code>group</code> and the group ID after the keyword <code>module</code>.</p>
<p>Example:</p>
<pre><code>module
A(d) -[ KA(c,e) ]-&gt; pA(b,pd,f)
pA(b,pd,f) -[ PA(c,e) ]-&gt; A(d)
endmodule

module group feedback
B(b) + C(c) -&gt; B(b)C(c)
B(b)C(c) -&gt; B(b) + C(c)
endmodule

module group feedback
D(d) -[ pD(pd) ]-&gt; pD(pd)
endmodule
</code></pre>
<h3 id="strategies-to-combine-modules">Strategies to combine modules</h3>
<p>A merging strategy has to be specified using the keyword <code>strategy</code> followed
by one of the keywords: <code>merge</code> or <code>multimerge</code>.</p>
<p>For example:</p>
<pre><code>    strategy multimerge
</code></pre>
<h4 id="merge-strategy">MERGE strategy</h4>
<ol>
<li>Given two modules A and B, each module has a list of species and a
   list of reactions.</li>
<li>for all pairs of species (Sa,Sb), such that Sa is from module A and
   Sb is from module B: if Sa and Sb share at least one property,
   then replace every instance of Sb and Sa with a
   new protein that has as properties the union of their properties</li>
<li>When merging three or more modules, ensure that they can be connected
   all together, otherwise an error will be given</li>
</ol>
<h4 id="multimerge-strategy">MULTIMERGE strategy</h4>
<ol>
<li>Given two modules A and B, each module has a list of species and a
   list of reactions.</li>
<li>for all pairs of species (Sa,Sb), such that Sa is from module A and
   Sb is from module B: if Sa and Sb share at least one property, 
   then store (Sa,Sb) in a set of possible matches. </li>
<li>Find all maximal matchings using the set of possible matches. In other words
   try to apply as many matches as possible without using the same species twice
   and list all valid combinations (the maximal matchings)</li>
<li>Generate a new model for each maximal matching obtained by replacing,
  for all (Sa,Sb) in a match, every instance of Sb and Sa with a
   new protein that has as properties the union of their properties</li>
<li>When merging three or more modules, ensure that they can be connected
   all together, otherwise an error will be given</li>
</ol>
<h3 id="module-inputouputs">Module Input/Ouputs</h3>
<p>The definition of input and output of a module has been introduce, although
not yet used. It should be useful in the future for automated plotting and
most importantly for algorithms that will evaluate this motif depending on
the input/output dose-dependent response.</p>
<p>The input and output for each module can be specified (optional) at the
module definition as follows:</p>
<ul>
<li>
<p>Example</p>
<pre><code>module: input KA(ak), output pA(ak)
A(ik) -[ KA(ak) ]-&gt; pA(ak)
pA(ak) -[ PA(ap) ]-&gt; A(ik)
endmodule

module: input B(ik,ik2), output C(ak,ak2)
B(ik,ik2) + C(ak,ak2) -&gt; BC(ak,ak2,ik,ik2)
BC(ak,ak2,ik,ik2) -&gt; B(ik,ik2) + C(ak,ak2)
endmodule
</code></pre>
</li>
</ul>
<p>It is also possible to add input and output to the merged modules using:</p>
<ul>
<li>
<p>Example</p>
<pre><code>strategy merge: input KA(ak), output C(ak,ak2)
</code></pre>
</li>
</ul>
<h3 id="initial-concentrations">Initial Concentrations</h3>
<p>The initial concentration of the species/complexes can be defined using
the init keyword outside the module definition:</p>
<ul>
<li>
<p>Example</p>
<pre><code>init KA(ak) 1
init A(ak) 1.5
</code></pre>
</li>
</ul>
<p>If two species are merged by the MERGE strategy and they do not have the
same initial concentration, then two different merged modules will be
produced, each of which with a different initial concentration for the 
merged species.</p>
<p>If an initial concentration is not specified for a species/complex, the
program assumes initial concentration of <code>0.0</code>.</p>
<h3 id="executing-sbml-models">Executing SBML models</h3>
<p>The SBML models of the initial modules and of the generated motifs can
be executed using a software such as Copasi. It is necessary to specify
initial concentrations, or they will be left to 0.0. For the moment, it
is not possible to specify reaction rates, which are assumed to be mass 
action with kinetic constant <code>k=1</code>, with the exception of the enzymatic
reaction that uses michaelis-menten with <code>Vmax=1</code> and <code>Km=0.5</code>.</p>
<h3 id="acknowledgements">Acknowledgements:</h3>
<p>The research leading to these results has received funding from the 
European Union Seventh Framework Programme (FP7/2007-2013) under grant
agreement no 613879.</p>